
.image {
display: flex;
align-content: center;
}

.nfl-img {
  height: 300px;
  width: 250px;
  margin: auto;
}


.week-btn, 
.team-btn, 
.home-score-btn,
.away-score-btn {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;
}

